.overlap__card__container {
  height: 90vh;
  background-color: var(--lightgrey);
  position: relative;
}

.overlap__card {
  width: 80%;
  height: 130%;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 5;
}
